<!DOCTYPE html>
<!-- @Author Joeseph Sande -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/ABstyle.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/button.css}" />
</head>
<body style="background-color: #3F4045">
	<form action="#" th:action="@{/Contact}" th:method="get">
		<input type="hidden" name="_method" value="edit" />
		<button type="submit" style="border-radius: 50px" id="submitButton"
			class="glow-on-hover">Back</button>
	</form>

	<div class="container" align="center">

		<h1 align="center" style="color: white">Contact Management System</h1>
		<hr>
		<h2 align="center" style="color: white">Create New Contact</h2>

		<form action="#" th:action="@{/Contact/saveContact}"
			th:object="${Contact}" method="POST">

			<input required type="text" th:field="*{fname}"
				placeholder="First Name" class="form-control mb-4"> <input
				required type="text" th:field="*{lname}" placeholder="Last Name"
				class="form-control mb-4"> <input required type="text"
				th:field="*{phoneNumber}" placeholder="Phone Number"
				class="form-control mb-4"> <input required type="text"
				th:field="*{email}" placeholder="Email" class="form-control mb-4">
			<input required type="text" th:field="*{streetname}"
				placeholder="Street Name" class="form-control mb-4"> <input
				required type="text" th:field="*{city}" placeholder="City"
				class="form-control mb-4"> <input required type="text"
				th:field="*{state}" placeholder="State" class="form-control mb-4">
			<input required type="text" th:field="*{postalcode}"
				placeholder="Postal Code" class="form-control mb-4"> <input
				required type="text" th:field="*{country}" placeholder="Country"
				class="form-control mb-4">
			<button type="submit" class="glow-on-hover">Save</button>
		</form>
	</div>
</body>
</html>