<!DOCTYPE html>
<!-- @Author Joeseph Sande -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>search Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/ABstyle.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/button.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/formMain.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/search.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/delete.css}" />
<script src=”js/datatables/datatables.js”></script>
</head>
<body style="background-color: #3F4045">
	
	
	<form action="#" th:action="@{/Contact}" th:method="get">
		<input type="hidden" name="_method" value="edit" />
		<button type="submit" style="border-radius: 50px" id="submitButton"
			class="glow-on-hover">Back</button>
	</form>
	
	<h1 align="center" style="color: white">Search Results</h1>

	<br>
	
<div class="datatable" align="center">
		<!-- Table containing all Contact information for all Contacts in the Address Book -->
		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">Edit</th>
					<th scope="col">Details</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="keyword: ${keyword}">

					<td class="overflow">
						<form action="#" th:action="@{/edit/{id}(id=${keyword.id})}"
							th:method="get">
							<input type="hidden" name="_method" value="edit" />
							<button type="submit" id="submitButton" class="glow-on-hover">Edit</button>
						</form>
					</td>
					<td class="overflow">
						<form action="#" th:action="@{/details/{id}(id=${keyword.id})}"
							th:method="get">
							<input type="hidden" name="_method" value="details" />
							<button type="submit" id="submitButton" class="glow-on-hover">Details</button>
						</form>
					</td>
					<td th:text="${keyword.fname}" class="overflow">fname</td>
					<td th:text="${keyword.lname}" class="overflow">lname</td>
					<td>
						<form action="#" th:action="@{/{id}(id=${keyword.id})}"
							th:method="post">
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" id="submitButton" class="delete">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>