<!DOCTYPE html>
<!-- @Author Joeseph Sande -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Contact</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" -->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/ABstyle.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/button.css}" />
</head>
<body style="background-color: #3F4045">
	<form action="#" th:action="@{/Contact}" th:method="get">
		<input type="hidden" name="_method" value="edit" />
		<button type="submit" style="border-radius: 50px" id="submitButton"
			class="glow-on-hover">Back</button>
	</form>
	<div class="container">
		<h1 align="center" style="color: white">Contact Management System</h1>
		<hr>
		<h2 align="center" style="color: white">Update Contact
			Information</h2>
		<form action="#" th:action="@{/Contact/updateContacts/{id}}"
			th:object="${Contact}" method="post">
			<br> <input required type="hidden" th:field="${Contact.id}"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.fname}" placeholder="Contact First Name"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.lname}" placeholder="Contact Last Name"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.phoneNumber}" placeholder="Contact Phone Number"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.email}" placeholder="Contact Email"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.streetname}" placeholder="Contact Street Name"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.city}" placeholder="Contact City"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.state}" placeholder="Contact State"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.postalcode}" placeholder="Contact Postal Code"
				class="form-control mb-4"> <input required type="text"
				th:field="${Contact.country}" placeholder="Contact Country"
				class="form-control mb-4">
			<p align="center">
				<button type="submit" class="glow-on-hover">Update</button>
			</p>
		</form>
	</div>
</body>
</html>